
/*****************************************************************
 *
 * Multimodal for Reveal.js 
 * Version 0.1.0
 * 
 * @author: Martijn De Jongh (Martino), martijn.de.jongh@gmail.com
 * https://github.com/martinomagnifico
 *
 * @license 
 * MIT licensed
 * 
 * Copyright (C) 2023 Martijn De Jongh (Martino)
 *
 ******************************************************************/

.multimodal .mm-close {
  --color-gray-rich: white;
  --close-stroke-width: 1.2;
  --close-hover-ratio: 1.2;
  --close-mainlength: 16px;
  --close-hovarratio: 1.2;
  padding: 0;
  border-radius: 50%;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 2;
  background: rgba(0, 0, 0, 0.28);
  padding: 2px;
  position: absolute;
  right: 1em;
  top: 1em;
  width: 28px;
  height: 28px;
}
.multimodal .mm-close:before {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background: transparent;
  transition: background-color 0.12s ease-in-out;
  pointer-events: none;
  z-index: -1;
}
.multimodal .mm-close.sm:before {
  width: 32px;
  height: 32px;
}
.multimodal .mm-close svg {
  width: 24px;
  height: 24px;
}
.multimodal .mm-close svg line {
  transition: all 0.0675s linear;
  stroke: var(--color-gray-rich);
  stroke-linecap: round;
  stroke-width: 1.25;
}
.multimodal .mm-close svg line, .multimodal .mm-close:active:hover svg line {
  stroke-dasharray: 16 8;
  stroke-dashoffset: -4;
}
.multimodal .mm-close.sm svg line, .multimodal .mm-close.sm:active:hover svg line {
  stroke-dasharray: 12 12;
  stroke-dashoffset: -6;
}
.multimodal .mm-close:hover:before, .multimodal .mm-close:focus:before {
  background: rgba(0, 0, 0, 0.2);
}
.multimodal .mm-close:active:before {
  background: rgba(0, 87, 101, 0.1);
}
.multimodal .mm-close:hover svg line {
  stroke-dasharray: 20 4;
  stroke-dashoffset: -2;
}
.multimodal .mm-close.sm:hover svg line {
  stroke-dasharray: 16 8;
  stroke-dashoffset: -4;
}
.multimodal .mm-close:focus {
  outline: 3px solid #00C6CB;
  outline-offset: 4px;
}
.multimodal .mm-close.sm:focus {
  outline-offset: 0;
}
.multimodal .mm-close:focus:not(:focus-visible) {
  outline: 0;
  box-shadow: none;
}

:root {
  --mm-border: 1px solid white;
  --mm-transspeed: 0.3s;
  --mm-transtiming: ease-in-out;
  --mm-overlaycolor: rgba(0,0,0,0.30);
  --mm-shadow: 0 0.5em 0.75em 0.5em rgba(0, 0, 0, 0.25);
  --mm-initialscale: 0.9;
  --mm-minwidth: 100px;
  --mm-minheight: 100px;
  --mm-htmlpadding: 1em;
  --mm-htmlbgcolor: var(--r-background-color);
  --mm-iframepadding: 0;
  --mm-iframebgcolor: var(--r-background-color);
  --mm-mediapadding: none;
  --mm-mediabgcolor: white;
  --mm-outerradius: 0.5em;
}

.mm-content.hidden,
section > .mm-content {
  display: none;
}

.multimodal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--mm-overlaycolor);
  z-index: 9999;
  opacity: 0;
  transition: all var(--mm-transspeed) var(--mm-transtiming);
}
.multimodal .mm-dialog {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: var(--mm-maxwidth);
  height: var(--mm-maxheight);
}
.multimodal .mm-dialog .mm-content {
  width: fit-content;
  height: fit-content;
  max-height: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.multimodal[data-modal-type*=html] .mm-body {
  position: relative;
  min-width: var(--mm-minwidth);
  min-height: var(--mm-minheight);
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  overflow-y: auto;
  font-size: 18px; } .multimodal[data-modal-type=image] .mm-body, .multimodal[data-modal-type=video] .mm-body {
  max-height: 100%;
  max-width: 100%;
  margin: 0;
}
.multimodal[data-modal-type*=iframe] iframe {
  max-width: 100%;
  max-height: 100%;
  margin: 0;
  width: calc(var(--mm-maxwidth));
  height: calc(var(--mm-maxheight));
}
.multimodal, .multimodal * {
  box-sizing: border-box;
}
.multimodal .mm-dialog {
  transition: all var(--mm-transspeed) var(--mm-transtiming);
  inset: 50% auto auto 50%;
  transform: translate(-50%, -50%) scale(calc(var(--slide-scale) * var(--mm-initialscale)));
}
.multimodal iframe {
  opacity: 0;
  transition: opacity 0.8s var(--mm-transtiming);
  transition-delay: var(0.25s);
}
.multimodal.show {
  opacity: 1;
}
.multimodal.show .mm-dialog {
  transform: translate(-50%, -50%) scale(var(--slide-scale));
}
.multimodal.show iframe {
  opacity: 1;
}
.multimodal.show.shown .mm-dialog {
  transition: none;
}
.multimodal .mm-content {
  background: var(--mm-modal-background, var(--mm-mediabgcolor));
  border: var(--mm-border);
  border-radius: var(--mm-outerradius);
  box-shadow: var(--mm-shadow);
  overflow: hidden;
}
.multimodal[data-modal-type=image] .mm-content, .multimodal[data-modal-type=video] .mm-content {
  background: var(--mm-modal-background, var(--mm-mediabgcolor));
  padding: var(--mm-modal-padding, var(--mm-mediapadding));
}
.multimodal[data-modal-type=html] .mm-content {
  background: var(--mm-modal-background, var(--mm-htmlbgcolor));
  padding: var(--mm-modal-padding, var(--mm-htmlpadding));
}
.multimodal[data-modal-type=iframe] .mm-content {
  background: var(--mm-modal-background, var(--mm-iframebgcolor));
  padding: var(--mm-modal-padding, var(--mm-iframepadding));
}
.multimodal .mm-body {
  overflow: hidden;
  z-index: 0;
}
