.slides {
  opacity: 0;
  transition: opacity 0.5s ease;
}
.reveal.ready .slides {
  opacity: 1;
}

.centerblock {
  height: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  margin: auto;
}

.slides section ol.twocol, .twocol {
  padding: 0;
  margin: 0 auto;
  list-style: none;
  counter-reset: item;
  width: 80%;
  column-count: 2;
  column-gap: 2em;
  column-rule: 2px solid rgba(255, 255, 255, 0.12);
}
.slides section ol.twocol li, .twocol li {
  counter-increment: item;
  padding-left: 1.7em;
  margin-top: 0;
}
.slides section ol.twocol li:before, .twocol li:before {
  content: counter(item) ".";
  margin-left: -1.7em;
  margin-right: 0.5em;
  display: inline-block;
  width: 1.2em;
  text-align: right;
}

.reveal pre {
  font-size: calc(0.5 * var(--r-main-font-size));
}

.small, .reveal small {
  font-size: calc(0.7 * var(--r-main-font-size));
}
.small code, .reveal small code {
  font-size: 0.7em;
}

p code {
  font-size: 0.7em;
}

.reveal code.hljs {
  background: var(--code-full-bg);
  border-radius: 0.5em;
  padding: 0.5em;
  white-space: pre-wrap;
}
.reveal code.hljs td {
  line-height: 1.5;
}
.reveal code.hljs > span {
  line-height: 1.5;
}

p.code, p code, small code, .small code, li code {
  background: var(--code-rgba-bg);
  padding: 0.15em 0.25em;
  border-radius: 0.25em;
  font-size: 0.8em;
}

.reveal pre {
  width: 100%;
}

.reveal pre code {
  display: block;
  padding: 5px;
  overflow: auto;
  max-height: 400px;
  word-wrap: normal;
}

:root {
  --r-background-color: #051525;
  --r-heading-text-transform: none;
  --r-heading1-size: 2.7em;
  --r-main-font-size: 36px;
  --r-block-margin: 1.8rem;
  --code-full-bg: #142433;
  --code-rgba-bg: rgba(91, 102, 112, 0.3);
}

.reveal .slides ul li, .reveal .slides ol li {
  margin-top: 0.4em;
  margin-bottom: 0.2em;
}

.has-light-background {
  --r-link-color: var(--r-link-color-dark);
  --r-link-color-hover: #0373bd;
}

.demoembed {
  width: 768px;
  height: 400px;
  margin: 64px auto;
}

.reveal.embedded {
  border: 4px solid transparent;
  border-radius: 8px;
}
.reveal.embedded:not(.focused) {
  cursor: pointer;
}
.reveal.embedded.focused {
  border-color: #42affa;
  box-shadow: 0 4px 16px rgba(5, 21, 37, 0.3);
}
.reveal.embedded .progress {
  background: rgba(66, 175, 250, 0.3);
  font-size: 10px;
  height: 0.3em;
  border-radius: 0.25em;
  left: 0.5em;
  bottom: 0.5em;
  right: 0.5em;
  width: calc(100% - 1em);
  overflow: hidden;
}

a.github-corner {
  position: sticky;
  border: none;
  pointer-events: initial;
  z-index: 2;
  padding: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  line-height: 0;
  width: max-content;
  height: max-content;
  opacity: 0.5;
  transition: opacity 0.3s;
  color: var(--c-theme-color, white);
}
.rtl a.github-corner {
  left: auto;
  margin: 0 0 0 auto;
  right: 0;
}
a.github-corner.bottom {
  position: sticky;
  top: 100%;
  margin-top: auto;
  top: calc(100% - 70px);
}
.reveal.embedded a.github-corner, .reveal-viewport.reveal-scroll a.github-corner {
  display: none;
}
a.github-corner svg {
  line-height: 0;
  width: 75px;
  height: 75px;
}

a.github-corner:hover {
  color: var(--c-theme-color, white);
  opacity: 1;
}

.reveal section a {
  text-decoration: underline;
}

.reveal .modal a {
  text-decoration: underline;
}

.reveal .example {
  border: 4px solid var(--code-full-bg);
  background: none;
  padding: 3vmin;
  border-radius: 0.5vmin;
  display: flex;
  flex-direction: row;
  gap: 1em;
  justify-content: center;
  align-items: center;
  font-style: initial;
}
.reveal .example a {
  display: flex;
  justify-content: center;
}
.reveal .example img {
  margin: 0;
  max-width: 100%;
  max-height: 100%;
}
.reveal .example img.small {
  max-width: fit-content;
  max-height: 200px;
}
.reveal .example.small img {
  max-width: fit-content;
  max-height: 200px;
}

p:last-child {
  margin-bottom: 0;
}

.reveal-viewport:not(.reveal-scroll) .scrollvisible {
  display: none;
}
.reveal-viewport.reveal-scroll .scrollvisible {
  display: inline-block;
}

.btn {
  font-size: inherit;
  font-family: inherit;
  display: inline-block;
  padding: 0.25em 1em;
  border: 1px solid;
  border-radius: 0.25em;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  color: inherit;
  background: none;
}
.btn:hover {
  background: rgba(255, 255, 255, 0.1);
}

.reveal blockquote {
  width: 100%;
}

.reveal blockquote p {
  margin-top: 0;
}

.slides section.present {
  transition: opacity 0.4s ease-in-out;
}
.multimodal-open .slides section.present {
  opacity: 0.75;
}

.textcenter {
  text-align: center;
}

.reveal h2 {
  margin-bottom: 0 !important;
}